---
import type { HTMLAttributeAnchorTarget } from "react"

export interface Props {
  href: string
  className?: string
  ariaLabel?: string
  title?: string
  disabled?: boolean
  target?: HTMLAttributeAnchorTarget | undefined | null
}

const {
  href,
  className,
  ariaLabel,
  title,
  disabled = false,
  target,
} = Astro.props
---

<a
  type="button"
  href={disabled ? "#" : href}
  class={`group ${className}`}
  aria-label={ariaLabel}
  title={title}
  aria-disabled={disabled}
  target={target}
>
  <slot />
</a>

<style>
  a {
    @apply hover:text-skin-accent;
  }
</style>
